
Checks: "*,\
  -bugprone-easily-swappable-parameters, \
  -google-readability-todo,\
  -google-readability-braces-around-statements, \
  -altera-*,\
  -objc-*, \
  -osx-*, \
  -fuchsia-*,\
  -hicpp-*, \
  -readability-*, \
  -google-build-using-namespace, \
  -llvm-else-after-return, \
  -llvm-include-order, \
  -llvmlibc-*,\
  -modernize-use-trailing-return-type, \
  -modernize-use-nodiscard,\
  -misc-const-correctness, \
  -misc-include-cleaner, \
  -misc-non-private-member-variables-in-classes, \
  -concurrency-mt-unsafe, \
  -performance-avoid-endl"
WarningsAsErrors: ''

CheckOptions:
  - { key: llvm-namespace-comment.ShortNamespaceLines,       value: 20 }
